<div id='map_container'>
  <div id='map'></div>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
<script>
  // The value for 'accessToken' begins with 'pk...'
  mapboxgl.accessToken = 'pk.eyJ1IjoiamVyZW15aGVqaWFuIiwiYSI6ImNsOWdndjcyYjN2dnQzdnFtMDZ5NGszcnQifQ.rdIaJN_0FpyW2sKHhuIrEQ'; 
  // use var instead of const to avoid conflicts with global variables
  var map = new mapboxgl.Map({
    container: 'map',
    // Replace YOUR_STYLE_URL with your style URL.
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [-80, 34.51],
    zoom: 3
  });

  map.addControl(new mapboxgl.NavigationControl());

  var features_all = [
    <% @pins.each do |pin| %>
      {'type': 'Feature',
      'properties': {
        'location_name': '<%= pin.location_name %>',
        'location_id': '<%= pin.id %>',
        'image_json': '<%= pin.image_json == nil ? nil : pin.image_json[0]['attributes']['table']['urls']['small'] %>',
        'score' : '<%= @date_diff <= 5 && !pin.cloudCoverage.nil? && !pin.bortleScale.nil? ? starVisibility(pin.cloudCoverage, pin.bortleScale) : "" %>',
        },
      'geometry':{
        'type': 'Point',
        'coordinates': [<%= pin.longitude %>, <%= pin.latitude %>]
        }
      },
    <% end %>
  ];

  var geojson = {
    'type': 'FeatureCollection',
    'features': features_all
  };

  map.on('load', () => {

    // Add markers to the map.
    for (const marker of geojson.features) {
    // Create a DOM element for each marker.
      const el = document.createElement('div');
      if (marker.properties.score != "") {
        if (marker.properties.score >= 90) {
          el.className = 'marker_orange';
        } else if (marker.properties.score >= 70) {
          el.className = 'marker_green';
        } else if (marker.properties.score >= 50) {
          el.className = 'marker_blue';
        } else {
          el.className = 'marker_gray';
        }
      } else {
        el.className = 'marker_purple';
      }
      
      
  
    // Add markers to the map.
    var image_url = marker.properties.image_json ? marker.properties.image_json : "https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=220&q=80"

    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(
        new mapboxgl.Popup({ offset: [0, -25] }) // add popups
          .setHTML(
            `
            <h5 class="card-title">${marker.properties.location_name}</h6>
            <h6 class="card-subtitle mb-2 text-muted">${marker.properties.location_name}</h6>
            <img src=${image_url} height="auto" width="220">
            <h5>${marker.properties.score}/100</h5>
            <a href="locations/${marker.properties.location_id}" class="btn mr-2"><i class="fas fa-link"></i> Show</a>
            `
          )
      )
      .addTo(map);
    }
  }); 

</script>