<% provide(:title, @user.user_name) %>
<div class="row">
  <div class="col-md-4">
    
      <%= render 'shared/user_info'%>
    
  </div>

  <div class="col-md-8">
    <% if @user.posts.any? %>
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <% @posts.each do |post| %>
          <%= render 'posts/post-original', post: post%> 
        <% end %>
      </ol>     
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% end %>
  </div> 
</div>  