<div id="<%= dom_id photo %>">
  <p>
    <strong>Image url:</strong>
    <%= photo.image_url %>
  </p>

  <p>
    <strong>Shooting time:</strong>
    <%= photo.shooting_time %>
  </p>

  <p>
    <strong>Uploader:</strong>
    <%= photo.uploader_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= photo.post_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= photo.location_id %>
  </p>

</div>
