<% provide(:title, 'Post') %> 
<h1>Make a Post</h1>

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @post, url: [user, post]) do |f| %> 
        <%= render 'shared/error_messages', object: f.object %> 

        <%= f.label :location_name %>
        <div>
          <%= location&.location_name%>
        </div>

        <hr/>

        <%= f.label :messgae %>
        <%= f.text_field :message, class: 'form-control', placeholder: "Compose new post..." %>
        
        <%= f.hidden_field :location_id, class: 'form-control', placeholder: '@location.id', value: location&.id %> 

        <%= f.label :rate %>
        <%= f.number_field :rate, class: 'form-control', placeholder: "Rate this place" %>
        
        <%= f.label :photo %>
        <span class="image">
           <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
        <%= f.submit "Make a post", class: "map-btn" %>
        
    <% end %>
  </div>
</div>