<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.user_name, post.user %></span>
  <div><%= link_to "Post Link", user_post_path(post.user,post) %></div>
  <div>rate: <%= post.rate %></div>
  <span class="message">
    <%= post.message %>
    <% if post.image.attached? %>
      <%= image_tag post.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", user_post_path(@user, post), data: { "turbo-method": :delete,
                                               turbo_confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
