<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="layout">
	<aside> 
        <% if @post.image.attached? %>
			<%= image_tag(@post.image, :class => "gallery-show-image") %>
		<% elsif !@post.image_json.nil? %>
			<%= image_tag(@post.image_json[0]['attributes']['table']['urls']['small'], :class => "gallery-show-image") %>
		<% else %>
			<%= image_tag("https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60?w=500&h=500&fit=crop", :class => "gallery-show-image") %>
		<% end %>
    </aside>
	
    <article class="post">
    <div class="info"> 
        <%= link_to @post.user.user_name, @post.user %>
        <span class="text"> 's post</span>
        </div>
        <!-- Post Header -->
        <header class="post-header">
            <figure class="avatar-wrapper">
                <%= link_to gravatar2_for(@post.user, size: 50), @post.user %>
            </figure>
            <div class="content">
                <h3> <%= @post.user.user_name %></h3>
                <p class="title"> <%= @post.location.location_name %></p>
                <p class="title"> Rate: <%= "★" * @post.rate + "☆" * (5-@post.rate)%></p>
                <span class="updated"> <%= @post.created_at %> posted</span>
            </div>
        </header>
        
        <!-- Post Content Section -->
        <section class="post-content"> 
            <p class="content"> 
                <%= @post.message %>
            </p>
            <div class="stats">
                <span class="comments"> <%= @post.comments.count %> Comments</span>
            </div>
            <div class="post-controls">
                <button class="btn btn-comment"> <i class="fa fa-comment" aria-hidden="true"></i> Comments </button>
            </div>
        </section>

        <!-- Post Comments Section -->
        <section class="post-comment-feed"> 

            <% @comments.each do |comment|%>
                <div class="comment">
                    <figure class="avatar-wrapper">
                        <%= link_to gravatar2_for(comment.user, size: 50), comment.user %>
                    </figure>
                    
                    <div class="content">
                        <span class="user"> <%=comment.user.user_name%> </span>
                        <span class="text"> <%=comment.message%> </span>
                        <h5 class="updated"> <%= comment.created_at %> commented </h5>
                    </div>
                </div>
            <% end %>   

            <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>   

            <% if !current_user.nil? %>
                <div class="add-comment"> 
                    <figure class="avatar-wrapper">
                        <%= link_to gravatar2_for(current_user, size: 50), @post.user %>
                    </figure>
        
                    <%= form_with(model: @comment, url: [current_user, @post, @comment]) do |f| %>  
                        <div class="textfield">		
                            <%= f.text_field :message, placeholder: "Add a comment" %>
                            <button class="btn btn-camera"> <i class="fa fa-message" aria-hidden="true"></i>  </button>
                            <%= f.hidden_field :post_id, placeholder: '@post_id.id', value: @post&.id %>                 
                        </div>
                    <% end %>
                </div>
            <% else %>
                <div class="card-body-2">
                    <%= link_to "Sign in to make a comment",  login_path, {:class => "btn location-profile-save-btn"} %> 
                </div>
            <% end %>
            <%= link_to "Back to location",  @post.location, {:class => "btn location-profile-save-btn"} %> 
            
        </section>

    </article>
</div>

