<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="layout">
	<aside> 
        <%= image_tag("star.jpg") %>
        <%= image_tag @post.image if @post.image.attached? %>
	</aside>
	
	
    <article class="post">
    <div class="info"> 
        <a href="#" class="user"> User name </a>
        <span class="text"> commented on this</span>
        </div>
        <!-- Post Header -->
        <header class="post-header">
            <figure class="avatar-wrapper">
                <%= link_to gravatar2_for(@post.user, size: 50), @post.user %>
            </figure>
            <div class="content">
                <h3> <%= @post.user.user_name %></h3>
                <p class="title"> Freelancer </p>
                <span class="updated"> <%= @post.created_at %> posted</span>
            </div>
        </header>
        
        <!-- Post Content Section -->
        <section class="post-content">
            <p class="content"> 
                <%= @post.message %>
            </p>
            <div class="stats">
                <span clas="likes"> 12 Likes </span>
                <span class="comments"> . 2 Comments</span>
            </div>
            <div class="post-controls">
                <button class="btn btn-like"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like </button>
                <button class="btn btn-comment"> <i class="fa fa-comment" aria-hidden="true"></i> Comment </button>
                <button class="btn btn-share"> <i class="fa fa-share" aria-hidden="true"></i> Share </button>
            </div>
        </section>

        <!-- Post Comments Section -->
        <section class="post-comment-feed">
            
                    
            <% @comments.each do |comment|%>
                
                <div class="comment">
                    <figure class="avatar-wrapper">
                        <%= link_to gravatar2_for(comment.user, size: 50), comment.user %>
                    </figure>
                    
                    <div class="content">
                        <span class="user"> <%=comment.user.user_name%> </span>
                        <span class="text"> <%=comment.message%> </span>
                        <h5 class="updated"> <%= comment.created_at %> commented </h5>
                    </div>
                </div>
            <% end %>      

            <div class="add-comment"> 
                <figure class="avatar-wrapper">
                    <%= link_to gravatar2_for(@post.user, size: 50), @post.user %>
                </figure>
       
                <%= form_with(model: @comment, url: [current_user, @post, @comment]) do |f| %>  
                <div class="textfield">		
                    <%= f.text_field :message, placeholder: "Add a comment" %>
                    <button class="btn btn-camera"> <i class="fa fa-camera-retro" aria-hidden="true"></i>  </button>
                    <%= f.hidden_field :post_id, placeholder: '@post_id.id', value: @post&.id %>                 
                </div>
                <% end %>
            </div>
        </section>

    </article>
</div>

