<div id="<%= dom_id location %>" class="col-sm-6">
  <div class="card">
    <%= image_tag("star.jpg") %>
    <%= image_tag location.image if location.image.attached? %>
    <div class="card-body">
      <h5 class="card-title"><%= location.location_name %></h5>
      <div>[Park] [Mountain]</div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= params[:date] == nil ? Date.today :  params[:date]%></li>
    </ul>

    <div class="card-body">
        <%= link_to "Show", location_path(id:location.id, date:params[:date]) %>
        <%= link_to "Save", '#' %>
        <%= link_to "Share", '#' %>
    </div>
  </div>
</div>




