<p style="color: green"><%= notice %></p>

<div class="row">
  <div id="<%= dom_id @location %>" class="col-md-4">
    <div class="card">

      <%= @location.image_json == nil ? image_tag("star.jpg") : image_tag(@location.image_json[0]['attributes']['table']['urls']['small'], height: "250", width:"auto") %>
      <%= image_tag @location.image if @location.image.attached? %>
      <div class="card-body">
        <h5 class="card-title"><%= @location.location_name %></h5>
        <div> <%= @average_rate %> <%= '★' * (@average_rate.floor) + '☆' * (5-@average_rate.floor)%> <%= @location.posts.count %> Posts</div>
        <div>[Park] [Mountain]</div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">API Timestamp: <%=@weatherInfo%></li>
        <li class="list-group-item"><%= params[:date] == nil ? Date.today :  params[:date] %></li>
        <li class="list-group-item">Cloud: <%= @cloudCover == nil ? "No data"  : @cloudCover %></li>
        <li class="list-group-item">Bortle Scale: <%= @bortleScale == nil ? "No data"  : @bortleScale %></li>
        <li class="list-group-item">Star Visibility: <%= @score %>/100</li>
      </ul>

      <div class="card-body">
          <% if @score >= 90 %>
            <div>
              <span class="p-2 bg-warning text-white">Excellent ★ ★ ★</span>
            </div>
          <% elsif @score >= 70 %>
            <div>
              <span class="p-2 bg-success text-white">Good ★ ★ ☆</span>
            </div>
          <% elsif @score >= 50 %>
            <div>
              <span class="p-2 bg-info text-white">Fair ★ ☆ ☆</span>
            </div>
          <% else %>
            <div>
              <span class="p-2 bg-secondary text-white">Bad ☆ ☆ ☆</span>
            </div>
          <% end %>
      </div>
     
      <hr/>
      <% if !current_user.nil? %>
        <div class="card-body">
            <%= link_to "Make a post",  new_user_post_path(@user, location_id: @location.id) %>
        </div>
        <% else %>
        <div class="card-body">
            <%= link_to "Sign in to make a post",  login_path %> 
        </div>
      <% end %> 
    </div>

    <div>
      <% if current_user && current_user.admin? %>
        <%= link_to "Edit", edit_location_path(@location) %> |
        <%= link_to "Delete", @location, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %> |
      <% end %>
      <%= link_to "Back to map", map_path %>
    </div>
  </div>

  
  <div class="col-md-4">
    
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        <h3>Posts (<%= @location.posts.count %>)</h3> 
        <ol class="posts">
          <%= render @posts %> 
        </ol>     
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    
  </div>

</div>


 