<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> 
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render 'layouts/shim' %>
    <%= javascript_importmap_tags %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
  </head>
  
 <%= render 'layouts/header' %>
  <body>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <div class="container mt-200"> 
      <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
    </div>

     <%= render 'layouts/footer' %>
    </div> 
  </body>
</html>
