<!DOCTYPE html>
<html>
  <head>
    <title>ChasingStars</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= render 'layouts/shim' %>
  </head>

  <body class = "background">

 <%= render 'layouts/header' %>
    <div >
      <div class="container mt-200"> 
        <%= yield %>
      </div>
    </div>
     <%= render 'layouts/footer' %>
    </div> 
  </body>
</html>
